<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/"> ABN Meals </a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="meal/search">Search for Meal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="meal/random">Random meal</a>
        </li>
    </ul>
</nav>