<div class="home">
    <h1>Welcome to the Meal App</h1>

    You can either <a routerLink="/meal/random" > <div class="btn btn-primary">Find a random meal</div></a> or
    <a routerLink="/meal/search"><div class="btn btn-primary">Search for a specific meal</div></a>


    Happy cooking!
</div>