<button class="btn btn-primary mb-3" (click)="loadRandomMeal()">Load a random meal</button>
<div *ngIf="meal" class="card">
    <h1 class="card-header">{{ meal.name }}</h1>
    <div class="row no-gutters">
        <div class="col-md-7">
            <img class="mealImg" [src]="meal.image" />
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li *ngFor="let ingredient of meal.ingredients" class="list-group-item">{{ingredient.measure}}
                        {{ingredient.ingredient}}</li>
                </ul>
                <p class="card-text">
                    {{ meal.instruction }}
                </p>

                <iframe *ngIf="meal.video" width="560" height="315" [src]="meal.video" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>