<form class="row mb-4">
    <input [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" class="col-7 form-control mr-2"
        type="search" placeholder="Search" aria-label="Search" /> <button class="btn btn-primary col-3"
        (click)="searchForMeals()">Search for meal</button>
</form>

<div *ngIf="results.length > 0 ; else noResults" class="row">
    <a routerLink="/meal/details" *ngFor="let meal of results" [state]="meal">
        <div class="col-3 px-0 card">
            <div class="card-header">{{meal.name}}</div>
            <img class="card-img" [src]="meal.image" />
        </div>
    </a>
</div>
<ng-template #noResults>
    No results found<span *ngIf="searchInput"> for <strong> {{ searchInput }}</strong> </span>. Please search for a<span
        *ngIf="searchInput">nother</span> meal..
</ng-template>